.banner-section {
 background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.205)),
  url("../../../images/home-banner-1.jpg");
 min-height: 60vh;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.banner-text {
 color: #33a369;
 text-shadow: 1px 1px 1px black;
}
.btn-buy {
 background-color: #33a369;
 border: 2px solid #ffffff;
 border-radius: 3px;
 color: #fff;
 padding: 0.2em 1.2em;
 font-family: "Poppins", sans-serif;
 transition: all 400ms;
}
.btn-buy:hover {
 background-color: #288354;
 transform: translate3d(4px, 6px, 15px);
}
