.logo-color {
 color: #3cb978;
}
.nav-link-custom a {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
}
.link-btn {
 background-color: white;
}
.cart-btn {
 position: relative;
}
.cart-items-count {
 position: absolute;
 top: -30%;
 left: 60%;
 font-size: 14px;
 font-weight: bolder;
 background-color: #3cb978;
 padding: 0 6px;
 margin: 0;
 color: white;
 border-radius: 50%;
}
